body {
  background-color: #1560bd;
  /* background-image: url("https://www.moodfabrics.com/media/catalog/product/cache/97db670f3df31818ced9c267af3eee34/3/0/303341.jpg");*/
  font-family: cursive;
  text-align: center;
  color: #dddddd;
}
.App {
  padding: 20px;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.Card {
  border: 3px solid #add8e6;
  border-radius: 20px;
  display: inline-block;
  width: 120px;
  height: 180px;
  background: white;
  font-size: 50px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

button {
  border: 3px solid #add8e6;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
}
